<h1>Achievements</h1>
<h2>Theme Counts:</h2>
<% @counts.each do |theme| %>
  <%= "#{theme.key}: #{theme.value}"  %>
<% end %>

<% if @achievements.any? %>
  <% @achievements.each do |achievement| %>
    <h2> <%= achievement.description %> </h2>
    <br />
    Themes:
    <% if achievement.leadership %>
      Leadership
    <% end %>
    <% if achievement.efficiency %>
      Efficiency
      <% end %>
  <% end %>
<% else %>
  You have no achievements yet.
<% end %>

<div id='add_achievement'><%= link_to "Add achievement", new_user_achievement_path(@user) %>

