<h1>WINBANK</h1>
<h2>All your big wins on one page</h2>

<% if @user = current_user %>
  <div id='add-achievement'> <%= link_to "Add Achievement", new_user_achievement_path(@user), class: 'add-achievement' %></div>
<% end %>

<div id="achievements-list">
<h1>Achievements</h1>
<h2>Theme Counts:</h2>
<% @counts.each do |theme, value| %>
  <%= "#{theme.capitalize}: #{value}"  %>
<% end %>

<% if @achievements.any? %>
  <% @achievements.each do |achievement| %>
    <h2> <%= achievement.description %> </h2>
    <%= achievement.date %></br>
    Themes:
    <% if achievement.leadership %>
      Leadership
    <% end %>
    <% if achievement.efficiency %>
      Efficiency
      <% end %>
      <% if achievement.mentorship %>
        Mentorship
        <% end %>
  <% end %>
<% else %>
  You have no achievements yet.
<% end %>

</div>
